METROLINE_HOST=http://localhost:3001
METROLINE_UI_URL=http://localhost:3000
METROLINE_PORT=3001

METROLINE_WEBHOOK_HOST=http://host.docker.internal:3001
METROLINE_GITLAB_WEBHOOK_SSL_VERIFY=false

METROLINE_GITEA_CLIENT_ID=
METROLINE_GITEA_CLIENT_SECRET=
METROLINE_GITEA_URL=http://localhost:3003

# openssl rand 32 -hex
METROLINE_JWT_SECRET=secret
# openssl rand 32 -hex
METROLINE_RUNNER_SECRET=secret

METROLINE_MONGO_URI=mongodb://localhost:27017/metroline
